---
---

body
{
    background: #999999;
    font-family: Sans-Serif;
    margin: 0px;
}

header, main, footer
{
    border: solid black;
    border-width: 0px 1px;
    margin: 0px auto;
    min-width: {{ layout.minW }};
    max-width: {{ layout.maxW }};
    padding: 1em 2em;
}
