---
---

body
{
    background: hsl(34, 2%, 98%);
    font-family: 'Open Sans', Sans-Serif;
    line-height: 1.5;
    margin: 0px;
}

nav, main, footer
{
    margin: 0px auto;
    min-width: {{ layout.minW }};
    max-width: {{ layout.maxW }};
    padding: 1rem 2rem;
}

a
{
    color: hsl(214, 100%, 31%);
    text-decoration: none;
}

a:hover
{
    color: hsl(214, 100%, 23%);
    text-decoration: underline;
}

/* Ensure default values. */
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }


/***  Navigation  ***/

#navDiv
{
    background-color: hsl(214, 61%, 15%);

    position: fixed;
    height: 3.5rem;
    width: 100%;
    z-index: 256;
}

nav
{
    /* Shift by 0.5rem to adjust for padding of links (a-tags). */
    padding-left: 1.5rem;
    padding-right: 2.5rem;
}

nav a
{
    color: hsl(34, 2%, 98%);
    font-weight: 600;
    padding: 0.5rem;
}

nav a:hover
{
    background-color: hsl(214, 61%, 31%);
    color: hsl(34, 2%, 98%);
    text-decoration: none;
}


/***  Header  ***/

header
{
    background: hsl(214, 34%, 83%);
    margin: 0;
    max-width: 100%;
    padding: 0;
    padding-top: 3.5rem; /* nav bar */
}

header h1
{
    color: hsl(214, 27%, 51%);
    font-weight: 600;

    display: block;
    margin: 0px auto;
    min-width: {{ layout.minW }};
    max-width: {{ layout.maxW }};
    padding: 1rem 2rem;
}


/***  Main  ***/

main
{
}

h1, h2
{
    font-weight: 600;
    margin: 1.2em 0px 0.5em 0px;
    color: hsl(214, 60%, 31%);
}


/***  Publications and Projects  ***/

ul.pubList, ul#selProjList
{
    list-style-type: none;
    padding-left: 0;
}

ul.pubList li, ul#selProjList li
{
    margin-bottom: 1.2rem;
}

blockquote.abstract
{
    padding: 0.5em 0em;
    margin: 0px;
    display: none;
}


/***  Articles  ***/

article header
{
    background-color: hsl(34, 2%, 98%);
    padding: 3rem 0rem;
    text-align: right;
}

article header h1
{
    color: hsl(214, 60%, 31%);
    font-size: 2.5rem;
    font-weight: bold;

    width: 100%;
    padding: 1rem 0;
}

article main
{
    padding: 0;
    font-size: larger;
}


/***  Footer  ***/

footer
{
    font-size: smaller;
}
